[submodule "src/3rd/normalize"]
	path = src/3rd/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "src/3rd/bebas-neue"]
	path = src/3rd/bebas-neue
	url = https://github.com/dharmatype/Bebas-Neue.git
