[submodule "public/3rd/normalize"]
	path = public/3rd/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "public/3rd/bebas-neue"]
	path = public/3rd/bebas-neue
	url = https://github.com/dharmatype/Bebas-Neue.git
[submodule "public/3rd/fetch"]
	path = public/3rd/fetch
	url = https://github.com/github/fetch.git
[submodule "public/3rd/promise"]
	path = public/3rd/promise
	url = https://github.com/taylorhakes/promise-polyfill.git
